<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

<link rel="stylesheet" href="\assets\css\app.css">
<div id="landing-header">
  <h1><a class="entryLink" href="/potholes">Track Potholes</a></h1>
  <a class="entryLink" href="/potholes">Your contribution makes difference!</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>







<%- include partials/footer %>